.grid-container
{    
    display: grid;
    gap: 1rem;
    width: 50%;
    min-width: 500px;
    margin: auto;
    margin-top: 3rem;
    padding: 10px;
 
    grid-template-areas: "none name"
                         "about content"
                         "footer footer";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 2fr;

    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

#name 
{

    grid-area: name;
    display: flex;
    justify-content: start;
    align-items: center;
}

h1 
{
    font-weight: 500;
    font-size: 2rem;
}

h2
{
    font-weight: 400;
    font-size: 1.5rem;
}

#about
{
    grid-area: about;
}

#content
{
    grid-area: content;
}

#about, #content
{
    border-top: 1px solid lightgrey;
}

a:link, a:visited
{
    color: black;   
    text-decoration: underline;   
}
a:hover
{
    text-decoration: none;
}


@media (max-width: 600px)
{
    .grid-container
    {
        grid-template-areas: "name"
                             "about"
                             "content";
        grid-template-rows: 50px 1fr;
        grid-template-columns: 1fr;
        
        margin-top: 0px;
        min-width: auto;
        width: 95%;
    }
}

@media (max-width: 350px)
{
    h1
    {
        font-size: 1.5rem;
        font-weight: 500;
    }
 
    h2 
    {
        font-size: 1.1rem;
    }
 
    p 
    {
        font-size: 1rem;
    }
}